#course {
  color: #6A6A6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
}

#course p {
  margin: 0px;
}

#course .mytitle {
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#course .divider {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #EADCD9;
}

@media (min-width: 768px) {
  #course .divider {
    width: 90%;
  }
}

#course .card_sec {
  margin-top: 36px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#course .card_sec .card {
  overflow: hidden;
  margin: 24px auto;
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

#course .card_sec .card:hover:before {
  opacity: 1;
}

#course .card_sec .card:hover .info {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  color: white;
}

#course .card_sec .card:hover .info ul {
  opacity: 1;
  color: white;
}

#course .card_sec .card:hover .info .card_btn {
  opacity: 1;
}

#course .card_sec .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#course .card_sec .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

#course .card_sec .card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  color: #6A6A6A;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#course .card_sec .card .info .card_title {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
}

#course .card_sec .card .info ul {
  opacity: 0;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 20px;
  font-weight: 400;
}

#course .card_sec .card .info ul li {
  margin-left: 16px;
}

#course .card_sec .card .info .card_btn {
  margin-top: 1rem;
  opacity: 0;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #EADCD9;
  color: #6A6A6A;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#course .card_sec .card .info .card_btn:hover {
  background: #ecc7bf;
}

#course .btn_sec {
  text-align: center;
  margin-top: 36px;
}

#course .btn_sec .out_btn {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #EADCD9;
  color: #6A6A6A;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#course .btn_sec .out_btn:hover {
  background: #ecc7bf;
}

#course .mytitle {
  margin-top: 48px;
}

#course .swiper_area {
  z-index: 10;
  width: 90%;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  #course .swiper_area {
    width: 80%;
  }
}

#course .swiper_area .course_swiper {
  width: 80%;
  height: 400px;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  #course .swiper_area .course_swiper {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 768px) {
  #course .swiper_area .course_swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 400px;
    margin-left: 20px;
  }
}

#course .swiper_area .course_swiper .swiper-slide img {
  width: 100%;
  opacity: 0.5;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 5px;
}

@media (min-width: 768px) {
  #course .swiper_area .course_swiper .swiper-slide img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  #course .swiper_area .course_swiper .swiper-slide img {
    width: 100%;
    height: 400px;
  }
}

#course .swiper_area .swiper-pagination-bullet-active {
  background-color: #95AFD6;
}

#course .swiper_area #popDiv,
#course .swiper_area #popDiv1,
#course .swiper_area #popDiv2,
#course .swiper_area #popDiv3,
#course .swiper_area #popDiv4,
#course .swiper_area #popDiv5 {
  display: none;
  background-color: white;
  z-index: 11;
  width: 100%;
  height: 650px;
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

#course .swiper_area #popDiv .close,
#course .swiper_area #popDiv1 .close,
#course .swiper_area #popDiv2 .close,
#course .swiper_area #popDiv3 .close,
#course .swiper_area #popDiv4 .close,
#course .swiper_area #popDiv5 .close {
  text-align: right;
  margin-right: 5px;
  background-color: white;
}

#course .swiper_area #popDiv .close a,
#course .swiper_area #popDiv1 .close a,
#course .swiper_area #popDiv2 .close a,
#course .swiper_area #popDiv3 .close a,
#course .swiper_area #popDiv4 .close a,
#course .swiper_area #popDiv5 .close a {
  text-decoration: none;
  color: #2a2929;
  font-size: 25px;
}

#course .swiper_area #popDiv .course_swiper_1,
#course .swiper_area #popDiv1 .course_swiper_1,
#course .swiper_area #popDiv2 .course_swiper_1,
#course .swiper_area #popDiv3 .course_swiper_1,
#course .swiper_area #popDiv4 .course_swiper_1,
#course .swiper_area #popDiv5 .course_swiper_1 {
  width: 100%;
}

@media (max-width: 768px) {
  #course .swiper_area #popDiv .course_swiper_1,
  #course .swiper_area #popDiv1 .course_swiper_1,
  #course .swiper_area #popDiv2 .course_swiper_1,
  #course .swiper_area #popDiv3 .course_swiper_1,
  #course .swiper_area #popDiv4 .course_swiper_1,
  #course .swiper_area #popDiv5 .course_swiper_1 {
    width: 100%;
    height: 100%;
  }
}

#course .swiper_area #popDiv .course_swiper_1 .swiper-slide,
#course .swiper_area #popDiv1 .course_swiper_1 .swiper-slide,
#course .swiper_area #popDiv2 .course_swiper_1 .swiper-slide,
#course .swiper_area #popDiv3 .course_swiper_1 .swiper-slide,
#course .swiper_area #popDiv4 .course_swiper_1 .swiper-slide,
#course .swiper_area #popDiv5 .course_swiper_1 .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  #course .swiper_area #popDiv .course_swiper_1 .swiper-slide,
  #course .swiper_area #popDiv1 .course_swiper_1 .swiper-slide,
  #course .swiper_area #popDiv2 .course_swiper_1 .swiper-slide,
  #course .swiper_area #popDiv3 .course_swiper_1 .swiper-slide,
  #course .swiper_area #popDiv4 .course_swiper_1 .swiper-slide,
  #course .swiper_area #popDiv5 .course_swiper_1 .swiper-slide {
    width: 100%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#course .swiper_area #popDiv .course_swiper_1 .swiper-slide img,
#course .swiper_area #popDiv1 .course_swiper_1 .swiper-slide img,
#course .swiper_area #popDiv2 .course_swiper_1 .swiper-slide img,
#course .swiper_area #popDiv3 .course_swiper_1 .swiper-slide img,
#course .swiper_area #popDiv4 .course_swiper_1 .swiper-slide img,
#course .swiper_area #popDiv5 .course_swiper_1 .swiper-slide img {
  width: 500px;
  height: 100%;
  border-radius: 5%;
  opacity: 0.7;
}

@media (max-width: 768px) {
  #course .swiper_area #popDiv .course_swiper_1 .swiper-slide img,
  #course .swiper_area #popDiv1 .course_swiper_1 .swiper-slide img,
  #course .swiper_area #popDiv2 .course_swiper_1 .swiper-slide img,
  #course .swiper_area #popDiv3 .course_swiper_1 .swiper-slide img,
  #course .swiper_area #popDiv4 .course_swiper_1 .swiper-slide img,
  #course .swiper_area #popDiv5 .course_swiper_1 .swiper-slide img {
    top: 50px;
    position: relative;
    width: 100%;
    height: 550px;
    border-radius: 5%;
    opacity: 0.7;
  }
}

#course .swiper_area .popLayer img {
  width: 300px;
  height: 350px;
}
/*# sourceMappingURL=course.css.map */