$color_primary : #EADCD9;
$color_sec : #5A705C;
$color_grey : #E7E7E7;
$color_txt : #6A6A6A;

$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;

$title_font:20px;
$text_font:16px;
$btn_font:14px;