$color_primary : #EADCD9;
$color_sec : #5A705C;
$color_grey : #E7E7E7;
$color_txt : #6A6A6A;

$small: 576px;
$medium: 768px;
$large: 992px;
$xl: 1200px;
$xxl: 1400px;

$title_font:20px;
$text_font:16px;
$btn_font:14px;

#health{
    color: $color_txt;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    p{
        margin: 0px;
    }
    .mytitle{
        font-size: $title_font;
        font-weight: 600;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .divider{
        width: 90%;
        height: 5px;
        border-radius: 5px;
        background-color: $color_primary;
        @media (min-width: $medium) {
            width: 80%;
        }
    }
    .mytab_area{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 36px;
        width: 100%;
        @media (min-width: $medium) {
            width: 80%;
        }
        li{
            margin: 0px 6px;
            @media (min-width: $medium) {
                margin: 0px 20px;
            }
            button{
                color: $color_txt;
                font-weight: 600;
                background-color: $color_primary;
                border-radius: 10px 10px 0px 0px;
                box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
                width: 90px;
                padding: 8px;
                &:hover{
                    background-color: #ecc7bf;
                }
                @media (min-width: $medium) {
                    width: 115px;
                    padding: 8px 16px;
                }
            }
            .nav-link.active{
                background-color: #838383;
                color: white;
            }
        }
        .tab_divider{
            margin-top: 2px;
            width: 300px;
            height: 2px;
            border-radius: 2px;
            background-color: $color_txt;
            @media (min-width: $medium) {
                width: 460px;
            }
        }
        .outer_tab_content{
            padding-top: 32px;
            padding-bottom: 64px;
            width: 100%;
            .add_info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-weight: 600;
                padding-bottom: 16px;
            }
            .tab_content_area{
                display: flex;
                justify-content: center;
                flex-direction: column;
                @media (min-width: $medium) {
                    flex-direction: row;
                }
                
                ul{
                    list-style: unset;
                    li{
                        margin-left: 32px;
                        margin-right: 16px;
                        padding: 12px 0px;
                    }
                }
                .left_area, .right_area{
                    background-color: $color_grey;
                    border-radius: 20px;
                    margin: 10px;
                    padding: 10px;
                    flex-basis: 100%;
                    font-weight: 600;
                    .my_subtitle{
                        font-size: $title_font;
                        padding-bottom: 16px;
                        text-align: center;
                    }
                }
                .divider2{
                    width: 0px;
                    margin: 10px 0px;
                    background-color: #A9A9A9;
                    border-radius: 5px;
                    @media (min-width: $medium) {
                        width: 5px;
                        margin: 20px 0px;
                    }
                }
            }
        }
    }
    
    
}

