@import 'variable';

h2{
    font-size: 24px;
}
.title{
    color: #6A6A6A
}
.content {
    font-size: 16px;
    color: #5A705C;
}

//粉紅色上端
#pink-top-area{
    background-image: url('../img/index/pink-top.png');
    width: 100%;
    height: 10vh;;
    background-position: center;
    background-size: cover;
}
//粉紅色下端
#pink-bottom-area{
    background-image: url('../img/index/pink-bottom.png');
    width: 100%;
    height: 10vh;
    background-position: center;
    background-size: cover;

}
//暮沐理念
#mumu_faith{
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: $color_primary;
    color: $color_txt;

    @media (min-width:$large) {
        display: flex;
        height: 85vh;
    }
    

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width:$large) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        #mumu_faith_slogan{
            width: 50%;
            height: 360px;
            // background-color: aqua;
            @media (max-width:$large) {
                height: 450px;
                display: flex;
                align-items: flex-start;
            }


            #mumu_slogan_frame{
                width: 300px;
                height: 350px;
                border: 3px solid rgb(255, 255, 255);
                margin-top: -120px;

                @media (max-width:$large) {
                    background-color: #7a847c;
                    opacity: 0.8;
                    border: none;

                }
                

                
                #mumu_slogan_brush{
                    width: 300px;
                    height: 350px;
                    // background-color: rgb(255, 231, 200);
                    position: relative;
                
                    .mumu_brush{
                        display: none;         

                        @media (min-width:$large) {
                            display: block;
                            width: 450px;
                            height: 250px;
                            background-color: #7a847c;
                            position: absolute;
                            top: 30px;
                            left: -75px;
                            transform: 0;
                            opacity: 0.8;
                        }

                    }
                    .mumu_logo_name{
                        width: 50px;
                        position: absolute;
                        left: 120px;
                        top: 50px;
                    }
                    .slogan_contents{
                        position: absolute;
                        z-index: 0;
                        top: 150px;
                        left: 10px;
                       
                        p{
                            color: rgb(255, 255, 255);                      
                        }
                    }
                }
                .studio{
                    font-size: 12px;
                    margin: 0 auto;
                    color: rgb(255, 255, 255);

                }

            }

        }
        #mumu_faith_content_and_notice{
            width: 100%;
            // height: 600px;
            // background-color: aqua;
            margin-top: -80px;

            @media (min-width:$large) {
                width: 50%;

            }
            .mumu_faith_content{

                width: 100%;
                background-color: #7a847c;
                border: 2px solid #ffffff;
                border-radius: 15px;
                opacity: 0.8;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;

                @media (min-width:$large) {
                    width: 80%;
                    height: 100px;
                    flex-direction: row;
                    background-color: #7a847c;
                    border: 2px solid #ffffff;
                    border-radius: 15px;
                }
                .img_box{

                
                    @media (min-width:$large) {
                        // background-color: aquamarine;
                        width: 120px;
                    }
                    @media (min-width:$xl) {
                        // background-color: rgb(240, 127, 255);
                        width: 150px;
                    }
                    
                    
                }
                
                .mumu_content_words{
                    color: #ffffff;
                }
            }
            .flower_img{
                width: 80px;
            }
            .material_img{
                width: 80px;
            }
            .service_img{
                width: 80px;
            }

            .mumu_faith_notice{
                font-size: $text_font;
                width: 100%;
                // background-color: #5A705C;
                padding-left: 20px;

                @media (min-width:$large) {
                    width: 80%;
                }
                
            }
        }
    }
   

}
//卡片區（原環境照）
#mumu_advertisement{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: $color_txt;


    .services_title{
        font-size: $title_font;
        margin-bottom: 50px;
        margin-top: -20px;

        .title_dot_line{
            .dot{
                width: 8px;
                height: 8px;
                background-color: #6a6a6a;
                border-radius: 50px ;
            }
            .dot_line{
                width: 200px;
                height: 1px;
                background-color: #6a6a6a;
            }
        }
    }
    .swiper {
        width: 80%;
        height: 100%;
        border: none;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
    
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            img {
                display: block;
                width: 220px;
                height: 300px;
                object-fit: cover;
            }
        }
        .swiper-pagination-bullet-active {
			background-color: #95AFD6;
			
		}
    }

    .modal_swiper_area{
		width: 100%;
		.modal_swiper {
			width: 100%;
			height: 65vh;
			margin: 20px auto;
			@media (min-width: $large) {
				width: unset;
				height: 75vh;
			}
			.swiper-slide{
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
				width: 100%;
				img{
					display: block;
					width: 100%;
					height: 65vh;
					object-fit: contain;
					object-position: center;
					border-radius: 5px;
					@media (min-width: $large) {
						width: unset;
						height: 75vh;
					}
				}
			}

		}
		.swiper-pagination-bullet-active {
			background-color: #95AFD6;
		}
	}

	#myModal{
		background-color: rgba(black, 0.5);	
	}
    
}
//服務項目
#mumu_services{
    margin-top: -5px;
    margin-bottom: -5px;
    background-color: $color_primary;
    color: $color_txt;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    .swiper{
        margin-top: 20px;
        display: none;
        img{
            opacity: 0.7;
        }
    }
    .content{

        display: none;
    }

    .services_title{
        font-size: $title_font;


        .title_dot_line{
            .dot{
                width: 8px;
                height: 8px;
                background-color: #6a6a6a;
                border-radius: 50px ;
            }
            .dot_line{
                width: 200px;
                height: 1px;
                background-color: #6a6a6a;
            }
        }
    }
    .services_card{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;

        .sevice_cards_container{
            width: 200px;
            height: 200px;
            margin: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 15px;

            @media (max-width:$small) {
                width: 150px;
                height: 150px;
            }

            .each_service_option{
                font-size: $title_font;
                height: 30%;
            }

            .service_img{
                width: 100%;
                height: 70%;
                img{
                    width:100%;
                    height: 100%;
                    object-fit: cover;

                }
            }
            
        }
    }
    .button{
        margin-top: 50px;
        button{
            color: #6A6A6A;
            width: 126px;
            height: 52px;
            font-size: 16px;
            background-color: white;
            border-style: none;
            border-radius: 10px;
            box-shadow: 2px 4px 3px rgba($color: #6A6A6A, $alpha: 1.0);
            margin-left: 20px;
            margin-right: 20px;
            @media (max-width: $medium) {
                width: 100px;
                margin: auto 10px;
            }

        }   
    }
    .button button:hover{
        color: white;
        background-color:#6A6A6A;
    }
    @media (max-width: $medium) {

        .button :nth-child(2){
            display: none;
        }
        button{
            margin-left: 20px;
            margin-right: 20px;
        }
        .swiper-slide img{
            object-fit: contain;
        }
    }

}
//Q&A
#faq{
    height: 100vh;
    position: relative;
    color: #6A6A6A;
    
    .faq{
        width: 50%;
        background-color: $color_primary;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 20px;
        .title {
            display: flex;
            justify-content: center;
            align-self: center;
            
            h2{
                margin: 16px;
                font-weight: 400;
            }
        }
        .accordion{
            margin: 40px;
            .accordion-item{
                .accordion-header{
                    //Q&A的問題列表
                    .accordion-button{
                        color: #6A6A6A;
                        font-size: 16px;
                        background-color: $color_primary;
                    }
                    .accordion-button:not(.collapsed){
                        color: #6A6A6A;
                    }
                    .accordion-button:hover{
                        background-color: #E7E7E7;
                        padding: 20px;
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        background-color: white;
                        color: #6A6A6A;
                    }
                }
            }
        }
        @media (max-width: $medium) {
            width: 100%;
            .accordion{
                margin: 0;
            }
        }  
        @media (max-width: $large) {
            width: 100%;
        }
    }
    @media (max-width: $medium) {
        .faq{
            padding-bottom: 20px;
        }
    }
}
