@import 'variable';

#login_sec2{
    font-weight: 400;
    .login {
        height: calc(100vh - 260px);
        background-color: rgb(100, 100, 100);
        @media (min-width: $medium) {
            height: calc(100vh - 235px);
        }

        .loginform {
            width: 400px;
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.2);
            @media (max-width: 440px) {
                width: 90%;
            }
            .img_div{
                text-align: center;
                img{
                    width: 80px;
                    border-radius: 40px;
                    @media (min-width: $medium) {
                        width: 120px;
                        border-radius: 60px;
                    }
                }
            }
            button {
                width: 50%;
            }

        }
    }
}