@import 'variable';


// $color_primary : #EADCD9;
// $color_sec : #5A705C;
// $color_grey : #E7E7E7;
// $color_txt : #6A6A6A;
/* width */
::-webkit-scrollbar {
    width: 15px;
    border-radius: 10px;
}

  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #5A705C; 
    // border-radius: 10px;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #6A6A6A; 
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5A705C; 
}
*{
    transition: 0.5s;
    font-family: 'Noto Sans TC', sans-serif;
}
a {
    text-decoration: none;
}
ul{
    padding: 0;
    margin-left: 0px;
}

#mynav{
    background-color: $color_primary;
    height: 60px;
    padding: 0;
    z-index: 5;
    @media (min-width: $medium) {
        height: 80px;
    }

    .mycollapse{
        background-color: $color_primary;
    }
    .mylogo-area{
        height: 60px;
        @media (min-width: $medium) {
            height: 80px;
        }
        a{

            margin-right: 0px;
            padding-left: 0px;
            @media (min-width: $large) {
                padding-left: 24px;
            }
            .logo{
                height: 60px;
                position: absolute;
                transform: translateX(-50%);
                left: 50%;
                top: 0;
                @media (min-width: $medium) {
                    margin-right: 8px;
                    height: 80px;
                    position: relative;
                    transform: unset;
                    left: 0;
                }
            }
            .logo-txt{
                display: none;
                color: $color_txt;
                font-size: 16px;
                font-weight: 500;
                line-height: 80px;
                @media (min-width: $medium) {
                    display: unset;
                }
            }
            .en{
                font-weight: 300;
                font-style: italic;
                letter-spacing: 0.5px;
                padding-left: 2px;
                @media (min-width: $medium) {
                    padding-left: 6px;
                }
            }
        }
        

    }
    .navbar-toggler{
        width: 56px;
        height: 40px;
        margin-right: 10px;
        position: relative;

        &:focus, &:active{
            box-shadow: none;
        }
        .mystick{
            width: 24px;
            height: 2px;  
            border-radius: 1px;
            background-color: #6a6362;
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            transition: top 0.25s 0s ease-in-out,
                        transform 0.25s 0.25s ease-in-out;
        }

        .stick1{
            transform:translate(-50%, -50%) rotate(45deg);
        }
        .stick2, .stick3{
            transform:translate(-50%, -50%) rotate(-45deg);
        }
    }
    .navbar-toggler.collapsed{
        .mystick{
            transform: translate(-50%, -50%);
            transition: top 0.25s 0.25s ease-in-out,
                        transform 0.25s 0s ease-in-out;
        }
        .stick1{
            top: 27.5%;
        }
        .stick2{
            top: 50%;
        }
        .stick3{
            top: 72.5%;
        }
    }

    ul{
        font-weight: 500;
        font-size: 16px;
        padding-right: 0px;
        min-height: 100vh;
        @media (min-width: $medium) {
            min-height: unset;
        }
        @media (min-width: $large) {
            padding-right: 24px;
        }
        // 側邊懸浮
        .myicon_area{
            display: flex;
            justify-content: center;
            a{
                padding: 16px 6px;
                margin: 8px 2px;
                img{
                    height: 30px;
                    width: 30px;
                    margin-left: 6px;
                    margin-right: 6px;
                }
            }

            @media (min-width: $medium) {
                display: block;
                position: fixed;
                z-index: 10;
                transform: translateY(-50%);
                top: 50%;
                right: 20px;
                a{
                    padding: 6px;
                    margin: 6px 0px;
                    img{
                        margin: 6px;
                    }
                }
            }
        }
        // ig
        .myicon_area>:nth-child(1):hover{
            animation: rotate 3s linear infinite;
            border: 3px dotted #f56040;
            border-radius: 50%;
            background-color: rgba(#fd1d1d,0.1);
            
        }
        // Line
        .myicon_area>:nth-child(2):hover{
            animation: rotate 3s linear infinite;
            border: 3px dotted #00c300;
            border-radius: 50%;
            background-color: rgba(#00c300,0.1);
        }
        // FB
        .myicon_area>:nth-child(3):hover{
            animation: rotate 3s linear infinite;
            border: 3px dotted #1877f2;
            border-radius: 50%;
            background-color: rgba(#1877f2,0.1);
        }
        @keyframes rotate {
            from{
                transform: rotate(0deg);

            }
            to{
                transform: rotate(360deg);
            
            }
        }
        li{
            &::before{
                content: "";
                width: 80%;
                height: 2px;
                border-radius: 1px;
                display: block;
                background-color: #C0B8B8;
                margin: 0 auto;
            }
            width: 100%;
            @media (min-width: $medium) {
                width: unset;
                &::before{
                    display: none;
                }
            }
            a{
                padding: 24px 8px;
                text-align: center;

                @media (min-width: $large) {
                    padding: 24px 16px;
                }
            }
        }
        
    }
}


.mySwiper {
    height: calc(50vh - 80px);
    width: 100%;
    .swiper-slide img{
        display: block;
        height: calc(50vh - 80px);
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
    .myswiper-btn{
        color: $color_txt;
    }
    @media (min-width: $small) {
        height: calc(75vh - 80px);
        .swiper-slide img{
            height: calc(75vh - 80px);
        }
    }
    @media (min-width: $medium) {
        height: calc(100vh - 80px);
        .swiper-slide img{
            height: calc(100vh - 80px);
        }
        .swiper-button-prev {
            left: 80px;
        }
        .swiper-button-next {
            right: 80px;
        }
    }
    .swiper-pagination-bullet-active {
        background-color: #95AFD6;
        
    }

}

#about{
    height: 100vh;

}

#map{
    .mymap{
        width: 100%;
        height: 50vh;
    }
}

#myfooter{
    background-color: $color_primary;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    @media (min-width: $medium) {
        height: 155px;
    }

    p{
        color: $color_txt;
        margin: 0px;
        font-size: 12px;
    }
    .footer_info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (min-width: $medium) {
            flex-direction: row;
        }
        .left_info, .right_info{
            display: flex;
            flex-direction: column;
            align-items: center;
            @media (min-width: $medium) {
                justify-content: center;
                align-items: flex-start;
            }
        }
        .left_info{
            margin-right: 0px;
            @media (min-width: $medium) {
                margin-right: 64px;
            }
            em{
                letter-spacing: 0.5px;
            }
        }
        .logo_foot{
            height: 60px;
            @media (min-width: $medium) {
                height: 105px;
            }
        }
    }
    .copyright{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 16px;
        letter-spacing: 0.5px;
        @media (min-width: $medium) {
            flex-direction: row;
            margin-top: 0px;
        }
    }
}